body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header{
    background-color: #1d7044;
    color: white;
    width: 100%;
    text-align: center;
}

footer{
    background-color: #1d7044;
    color: white;
    width: 100%;
    text-align: center;
}

#header-h1{
    color: white;
}

#input-container {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button {
    background-color: #1d7044;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.erro{
    color: red;
    text-align: center;
}

.sucesso{
    color: green;
    text-align: center;
}

input {
    width: 500px;
    padding: 6.5px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 3px;
    display: flex;
}

.hidden {
    display: none !important;
}

#cadastro{
    background-color: #1d7044;
    color: white;
    border: none;
}

#execucao{
    background-color: #1d7044;
    color: white;
    border: none;
}

#container-lista {
   flex-direction: column;
}